<!doctype html>
<html ng-app="mytodo">
  <head>
    <meta charset="utf-8">
    <title>mytodo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ui-view class="container">
  <div class="col-xs-2">
    <h2>Меню</h2>
 
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="#">Мои задачи</a>
      </li>
      <li>
        <a href="#">Настройки</a>
      </li>
    </ul>
  </div>

<div class="col-xs-6" ng-controller="TodoTasksController as todots_ctrl">
  <h2>Задачи</h2>

<form class="form-inline" ng-submit="todots_ctrl.addTask()">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Задача" ng-model="todots_ctrl.newTask.name">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only"></label>
    <input type="text" class="form-control" placeholder="Описание" ng-model="todots_ctrl.newTask.description">
  </div>
  <button type="submit" class="btn btn-default">Добавить</button>
</form>


  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Задача</th>
        <th>Дата</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in todots_ctrl.tasks">
        <td>{{task.name}}</td>
        <td>{{task.date}}</td>
        <td>{{task.description}}</td>
      </tr>
    </tbody>
  </table>
</div>






</div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
